{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
<h1 style="color:#f5e4cb;" class="m-4">Login Page</h1>
    <form method="POST">
      {% csrf_token %}
  <div class="mb-3 col-md-6">
    <label for="uname" class="form-label" style="color:#f5e4cb;">Username</label>
    <input type="text" class="form-control" id="uname" name="u">
  </div>
  <div class="mb-3 col-md-6">
    <label for="password" class="form-label" style="color:#f5e4cb;">Password</label>
    <input type="password" class="form-control" id="password" name="p">
  </div>
        <button type="submit" class="btn btn-warning col-md-2 mb-5">Submit</button>
</form>
</center>
{% endblock %}